# Fragmentation of an empire
This notebook is used to define the parameters of the model, run the simulation, and extract insights by plotting variables of interest.

In [1]:
# YOUR IMPORTS HERE ....
%matplotlib inline
import matplotlib.pyplot as plt

## Without autoreload, you necessarily have to restart the notebook kernel
## when you make changes in the imported .py modules of the model.
## See the docs:
##    https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html
%reload_ext autoreload
%autoreload 2

import numpy as np
from random import sample
from model import EmpireModel
np.random.seed(0)

In [4]:
## SET THE PARAMETERS
params = {"width": 50, 
          "height": 50,
          "percentage_of_cops":0.3,
          "percent_of_citizens":0.6,
          "jail_time": 5,
         }
## DEFINE THE MODEL 
EmpireModel = EmpireModel(**params)

In [5]:
## RUN THE MODEL
EmpireModel.run_model()

In [15]:
agent_states = EmpireModel.datacollector.get_model_vars_dataframe() ## GET THE FINAL OPINION
a=agent_states.values
len(a)
active=list()
passive=list()
cops=list()
prisoners=list()
print(a[0][2])# FIXME it's broken now due to the changes in datacollector.
for i in range(len(a)):
    active.append(a[i][0][0])
    passive.append(a[i][0][1])
    prisoners.append(a[i][0][2])
    cops.append(a[i][0][3])
#print(active)
#agent_states.plot()
plt.plot(range(len(active)), prisoners, color='black', label='Prisoners')
plt.plot(range(len(active)), active, color='red', label='Rebels')
plt.plot(range(len(passive)),passive, color='blue', label='Pro-empire')
plt.plot(range(len(cops)), cops, color='green', label='Cops')
plt.legend()
plt.show()

0

IndexError: invalid index to scalar variable.

In [5]:
agent_states

              AgentStates
0       [0, 1333, 0, 914]
1     [1197, 136, 0, 914]
2   [1011, 136, 186, 914]
3    [756, 136, 441, 914]
4    [516, 322, 495, 914]
5    [559, 391, 383, 914]
6    [587, 376, 370, 914]
7    [600, 279, 454, 914]
8    [546, 363, 424, 914]
9    [618, 363, 352, 914]
10   [627, 333, 373, 914]
11   [577, 291, 465, 914]
12   [524, 354, 455, 914]
13   [570, 383, 380, 914]
14   [609, 344, 380, 914]
15   [584, 308, 441, 914]
16   [550, 344, 439, 914]
17   [568, 369, 396, 914]
18   [597, 342, 394, 914]
19   [587, 326, 420, 914]
20   [579, 340, 414, 914]
21   [595, 352, 386, 914]
22   [598, 334, 401, 914]
23   [563, 324, 446, 914]
24   [545, 349, 439, 914]
25   [566, 369, 398, 914]
26   [603, 342, 388, 914]
27   [603, 328, 402, 914]
28   [577, 332, 424, 914]
29   [583, 342, 408, 914]
30   [567, 354, 412, 914]

In [6]:
agent_opinions = EmpireModel.datacollector.get_agent_vars_dataframe()
agent_opinions

               state
Step AgentID
0    (0, 0)        1
     (0, 1)        3
     (0, 2)        1
     (0, 3)        1
     (0, 5)        3
...              ...
30   (49, 45)      1
     (49, 46)      2
     (49, 47)      2
     (49, 48)      1
     (49, 49)      2

[69657 rows x 1 columns]